body {
    margin: 0;
}

img {
    max-width: 100%;
}

.page-header {
    background-color: #4ca5ff;
    background-image: url(../img/pattern.png);
    background-size: 400px;
    background-repeat: repeat;
}

.img-logo {
    width: 100px;
    height: 100px;
}