body {
    margin: 0;
}

main {
    margin-left: 1%;
}

img {
    max-width: 100%;
}

.page-header {
    background-color: #6bb5ff; 
    background-image: url(../img/pattern.png);
    background-size: 400px;
    background-repeat: repeat;
}

.img-logo {
    width: 200px;
    margin-left: 20px;
    padding-top: 2%;
    padding-bottom: 1%;
}

h1 {
    font-size: 40px;
}

.subtitle {
    font-size: medium;
    color: gray;
}

.data {
    font-size: smaller;
    color: gray;
}

.img-description {
    font-size: 12px;
    line-height: 1.6%;
    margin-bottom: 2%;
}

figure {
    margin: 0%;
}

.list {
    margin-left: -1.5%
}

th, td {
    padding: 15px;
    text-align: left;
}

tr:nth-child(odd) {
    background-color: #00d5ff;
  }

th {
    color: white;
    background-color: royalblue;
}
  
.background-foot-1 {
    background-image: url(../img/monitor.jpg);
    background-repeat: no-repeat;
    padding-bottom: 150px;
    padding-top: 2px;
    margin-bottom: 10px;

    font-size: 20px;
    font-weight: bold;
    color: white;

}

.background-foot-2 {
    background-image: url(../img/graph.jpg);
    background-repeat: no-repeat;
    padding-bottom: 150px;
    padding-top: 2px;
    margin-bottom: 10px;

    font-size: 20px;
    font-weight: bold;
    color: white;
}

footer {
    color: gray;
    font-weight: bold;
}
